.btn{
    padding: 10px 20px;
    text-decoration: none;

    &.btn-primary{
        background-color: $colorBallblue;
        color: $colorWhite;
    }
}
#menu__principal ul li a.btn-primary{
    color: $colorWhite;
}