/* COLORES */
$colorWhite: #FFF;
$colorPlatinum: #E8E8E8;
$colorGray: #bababa;

$colorDarksalmon: #EE9480;
$colorMelon: #F4BAAE;
$colorPaleink: #FADFDA;

$colorBallblue: #2AB7CA;
$colorMiddleblue: #77D1DD;
$colorBluelagoon: #b1e4eb;

$colorOnyx: #333745;
$colorSpanishgray: #8f9199;
$colorLavendergray: #C7C8CC;

$colorRaisingblack: #221D23;
$colorNickel: #726F73;
$colorSilverchalice: #AEACAF;

/* TAMAÑOS TIPOGRAFIA */
$font-xxxxx-large: 50px;
$font-xxxx-large: 45px;
$font-xxx-large: 40px;
$font-xx-large: 35px;
$font-x-large: 30px;
$font-large: 20px;
$font-medium: 16px;
$font-small: 14px;
$font-x-small: 12px;

/* TIPOGRAFIAS */
$fontRaleway: 'Raleway', sans-serif;
$fontOpensans: 'Open Sans', sans-serif;