/* FOOTER */
#footer{
    background-color: $colorRaisingblack;
    padding: 60px 0px;
    color: $colorWhite;

    a{
        color: $colorWhite;
        text-decoration: none
    }
    li{
        margin: 0px 24px;
    }
    li:first-child{
        margin-left: 0px;
    }
    .footer__copyright{
        text-align: right;
    }
}

@media only screen and (max-width: 768px){
    #footer{
        .footer__copyright{
            text-align: center;
            margin-top: 20px;
            display: block;
        }
        #footer__menu{
            justify-content: center !important;

            ul{
                justify-content: center;  
            }
            li{
                margin: 0px 15px; 
            }        
        }
    }
}