/* SECTION*/
section{
    #caracteristicas{
        margin-bottom: 50px;
        
        img{
            width: 90%;
            height: auto;
        }
    }
    h2{
        margin-bottom: 70px;
        font-size: $font-xxx-large;
    }
    h3{
        font-size: $font-x-large;
        margin-bottom: 20px;
        font-family: $fontRaleway;
    }
    p{
        line-height: 1.75em;
    }
}

/* PRECIOS */
#precios{
    &.bg__precios{
        background-image: url('../img/bg-price.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        padding-top: 250px;
        background-position: right top;
    }
    h2{
        color: $colorWhite;
    }
    .row{
        padding-bottom: 70px;
    }
    .precios__card{
        background-color: #FFF;
        padding: 40px;

        h4{
            font-size: $font-x-large;
            font-weight: 400;
        }
        span{
            font-size: $font-xxxx-large;
            font-weight: bold;
            font-family: $fontRaleway;
        }
        ul{
            min-height: 160px;
            @include bordeSuperior;

            li{
                position: relative;
                padding-left: 25px;
                margin-bottom: 10px;

                &:before{
                    content: '·';
                    position: absolute;
                    top: -10px;
                    left: 0px;
                    font-size: 30px;
                }
            }
        }
        .btn{
            display: block;
            position: relative;
            margin-top: 40px;

            &:before{
                content: '';
                display: block;
                position: absolute;
                top: -50px;
                left: 0px;
                width: 100%;

                @include bordeSuperior;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    section{
        h2{
            font-size: $font-xx-large;
            margin-bottom: 40px;
        }
        h3{
            font-size: $font-large;
        }
    }
    #precios {
        &.bg__precios{
            background-size: 700px;
            padding-top: 130px;
            background-position: center top;
        }
        &:first-child{
            margin-bottom: 30px;
        }
        .container{
            background-color: #333745;
        }
        .row{
            padding-bottom: 30px;
        }
    }
    #caracteristicas{
        .pl-5{
            padding-left: 0px;
        }
        .pr-5{
            padding-right: 0px;
        }
        img{
            margin-bottom: 30px;
        }
    }
}