@media (max-width: 576px) {
    .contenedor{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .contenedor{
        width: 100%;
    }
}

@media (max-width: 959px) { 
    .contenedor{
        width: 100%;
    }
}